<div id="SITE_CONTAINER">
  <div id="main_MF">
    <div id="SCROLL_TO_TOP" class="qhwIj ignore-focus" tabindex="-1" role="region" aria-label="top of page"> </div>

    <div id="BACKGROUND_GROUP">
      <div id="BACKGROUND_GROUP_TRANSITION_GROUP">
        <div id="pageBackground_c1dmp" data-media-height-override-type="" data-media-position-override="false" class="_2v3yk">
          <div id="bgLayers_pageBackground_c1dmp" data-hook="bgLayers" class="_3wnIc">
            <div data-testid="colorUnderlay" class="_3KzuS _3SQN-"></div>
            <div id="bgMedia_pageBackground_c1dmp" class="_2GUhU"></div>
            <div data-testid="bgOverlay" class="_1eCSh"></div>
          </div>
        </div>
      </div>
    </div>

    <div id="site-root">
      <div id="masterPage" class="mesh-layout">
        <%= render "header" %>

        <main id="PAGES_CONTAINER" tabindex="-1">
          <div id="SITE_PAGES">
            <div id="SITE_PAGES_TRANSITION_GROUP" class="_2YGAo">
              <div id="c1dmp" class="_2hsyZ Em8dO">
                <div class="_1ZNMx" data-testid="page-bg"></div>
                <div class="l4R05">
                  <div id="Containerc1dmp" class="_1KV2M">
                    <div data-mesh-id="Containerc1dmpinlineContent" data-testid="inline-content" class="">
                      <div data-mesh-id="Containerc1dmpinlineContent-gridContainer" data-testid="mesh-container-content">
                        <div id="comp-ikma4r17" class="_2UdPt"></div>
                        <div id="comp-jf1l87or" style="display:none"></div>
                        <div id="comp-kmuwm8dg" class="XUUsC">
                          <div data-testid="linkElement" class="xQ_iF">
                            <wix-image id="img_comp-kmuwm8dg" class="_1-6YJ _1Fe8-" data-bg-effect-name="" data-image-zoomed="" data-has-ssr-src="true">
                              <%= image_tag "main.jpg", style: "width:980px;height:500px;object-fit:cover;object-position:50% 50%" %>
                            </wix-image>
                          </div>
                        </div>
                        
                        <div id="comp-klwsnbv5" class="_1Q9if" data-testid="richTextElement">
                          <h3 class="font_3" style="font-size:24px; text-align:center;">
                            <span style="font-size:24px;">
                              <span style="font-style:normal;">Welcome to The AAROHAN&nbsp;</span>
                            </span>
                          </h3>
                        </div>
                        
                        <section id="comp-klwsnbrn" class="_3d64y">
                          <div id="bgLayers_comp-klwsnbrn" data-hook="bgLayers" class="_3wnIc">
                            <div data-testid="colorUnderlay" class="_3KzuS _3SQN-"></div>
                            <div id="bgMedia_comp-klwsnbrn" class="_2GUhU"></div>
                          </div>
                          
                          <div data-testid="columns" class="_1uldx">
                            <div id="comp-klwsnbv3" class="_1vNJf">
                              <div id="bgLayers_comp-klwsnbv3" data-hook="bgLayers" class="_3wnIc">
                                <div data-testid="colorUnderlay" class="_3KzuS _3SQN-"></div>
                                <div id="bgMedia_comp-klwsnbv3" class="_2GUhU"></div>
                              </div>
                              
                              <div data-mesh-id="comp-klwsnbv3inlineContent" data-testid="inline-content" class="">
                                <div data-mesh-id="comp-klwsnbv3inlineContent-gridContainer" data-testid="mesh-container-content">
                                  <div id="comp-klwsnbvb" class="_1Q9if" data-testid="richTextElement">
                                    <h2 class="font_2" style="line-height:0.6em; text-align:center; font-size:35px;">
                                      <span style="font-family:libre baskerville,serif; font-size:16px; letter-spacing:0em;">Aarohan Fetal Medicine Centre was set up with the aim of providing the best in prenatal care, diagnosis and treatment. Prevention is the first aspect of reducing the burden of birth defects. Diagnosis of these problems within the womb and offering fetal therapy when possible is an important aspect of care. Despite the best of efforts, there will be children born with problems; some of which may be correctable and some not. It is with this three pronged philosophy that the Aarohan Fetal Medicine Center was born: Preventive, Curative and Supportive care of the Fetus.&nbsp;</span>
                                      
                                    </h2>

                                    <h2 class="font_2" style="line-height:0.6em; text-align:center; font-size:35px;">
                                      <span style="font-family:libre baskerville,serif; font-size:16px; letter-spacing:0em;">
                                        <span class="wixGuard">​</span>
                                      </span>
                                    </h2>

                                    <h2 class="font_2" style="line-height:0.6em; text-align:center; font-size:35px;">
                                      <span style="font-family:libre baskerville,serif; font-size:16px; letter-spacing:0em;">This Centre specializes in performing ultrasound scans during various stages of pregnancy and the guidelines laid out by the Fetal Medicine Foundation, UK, world pioneers in Fetal Medicine are strictly adhered to. All scans are performed by an FMF accredited operator and are accompanied with informative and sensitive counselling </span>
                                    </h2>

                                    <h2 class="font_2" style="font-size:16px; line-height:0.6em; text-align:center;">
                                      <span class="wixGuard">​</span>
                                    </h2>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </section>
                        
                        <div id="comp-kmwibh3r" class="_3VCpz"></div>
                        
                        <div id="comp-kmwi7at7" class="fOSzc">
                          <div data-testid="linkElement" class="_1PW5Q">
                            <wix-image id="img_comp-kmwi7at7" class="_1-6YJ _3p9ul" data-bg-effect-name="" data-image-zoomed="" data-has-ssr-src="true">
                              <%= image_tag "gynic.jpg", style: "width:430px;height:247px;object-fit:cover;object-position:50% 50%" %>                          
                            </wix-image>
                          </div>
                        </div>
                        
                        <div id="comp-kmwi7lvp" class="_1Q9if" data-testid="richTextElement">
                          <h3 class="font_3" style="font-size:23px; text-align:center;">
                            <span style="font-size:23px;">
                              <span style="font-style:normal;">Dr. Preeti Parekh Tomar</span>
                            </span>
                          </h3>
                        </div>
                        
                        <div id="comp-kmytj3v8" class="_1Q9if" data-testid="richTextElement">
                          <h2 class="font_2" style="line-height:0.6em; text-align:center; font-size:35px;">
                            <span style="font-family:libre baskerville,serif; font-size:16px; letter-spacing:0em;">
                            Fetal Medicine Specialist <br/>
                            Clinical Director at Aarohan Fetal Medicine Centre, <br/>
                            Indore Former: Consultant Fetal Medicine Centre @ CHL Hospitals, Indore</span>
                          </h2>

                          <h2 class="font_2" style="font-size:16px; line-height:0.6em; text-align:center;">&nbsp;</h2>

                          <h2 class="font_2" style="font-size:16px; line-height:0.6em; text-align:center;">
                            <span class="wixGuard">​</span>
                          </h2>
                        </div>
                        
                        <div id="comp-kmytslth" aria-disabled="false" class="_2UgQw">
                          <a data-testid="linkElement" href=<%= clinic_team_url%> target="_self" class="_1fbEI" aria-disabled="false">
                            <span class="_1Qjd7">Read on</span>
                          </a>
                        </div>
                        
                        <div id="comp-kmwidauy" class="_3VCpz"></div>

                        <%= render "journey" %>

                        <div id="comp-koeqmxgd" class="_1Q9if" data-testid="richTextElement">
                          <h3 class="font_3" style="font-size:23px; text-align:center;">
                            <span style="font-size:23px;">
                              <span style="font-style:normal;">What Our Patients Say</span>
                            </span>
                          </h3>
                        </div>
                        
                        <div id="comp-koeqvqqx" class="_1Q9if" data-testid="richTextElement">
                          <p class="font_8" style="font-size:16px; text-align:center;">
                            <span class="color_14">
                              <span style="font-style:italic;">
                                <span style="font-size:16px;">
                                  <span style="font-family:libre baskerville,serif;">I cannot recommend the clinic highly enough. From my first phone call, I was made to feel at ease in a situation we didn&rsquo;t think we would find ourselves in. I called at 12pm on a Monday and was seen that evening at 6pm. We had the results back that Friday. Professor Akolekar &amp; his team were very professional at all times but made an unexpected situation stress free and we will definitely return if needed in the future.</span>
                                </span>
                              </span>
                            </span>
                          </p>

                          <p class="font_8" style="font-size:16px; text-align:center;">
                            <span style="font-size:16px;">
                              <span style="font-family:libre baskerville,serif;">-Emma D</span>
                            </span>
                          </p>
                        </div>
                        
                        <div id="comp-koeqxgym" aria-disabled="false" class="_2UgQw">
                          <a data-testid="linkElement" href="#" target="_self" class="_1fbEI" aria-disabled="false">
                            <span class="_1Qjd7">Read more testimonials</span>
                          </a>
                        </div>
                        
                        <div data-mesh-id="Containerc1dmpinlineContent-wedge-19"></div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </main>
                      
        <div id="soapAfterPagesContainer" class="page-without-sosp">
          <div data-mesh-id="soapAfterPagesContainerinlineContent" data-testid="inline-content" class="">
            <div data-mesh-id="soapAfterPagesContainerinlineContent-gridContainer" data-testid="mesh-container-content">
              <div id="comp-jn4djzy1" style="display:none"></div>
            </div>
          </div>
        </div>

        <%= render "footer"%>
    </div>
  </div>
</div>